<%= form_for @movie do |f| %>
  <div class="row form-group">
    <label class="col-md-3">Youtube URL:</label>
    <div class="col-md-9">
      <%= f.text_field :youtube_url, required: true, class: "form-control" %>
    </div>
  </div>
  <div class="row form-group">
    <label class="col-md-3">Title:</label>
    <div class="col-md-9">
      <%= f.text_field :title, class: "form-control" %>
    </div>
  </div>
  <div class="row form-group">
    <label class="col-md-3">Description:</label>
    <div class="col-md-9">
      <%= f.text_area :description, class: "form-control" %>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-md-9 col-md-offset-3">
      <%= f.submit 'Share', class: 'btn btn-primary col-md-12 col-sm-12' %>
    </div>
  </div>
<% end %>
