<!DOCTYPE html>
<html>
  <head>
    <title>FunnyMovie</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- <script>
      if (window.location.href.indexOf('/users/sign_in') > -1) {
        window.location.href = "/";
      }
    </script> -->
  </head>

  <body>
    <div class="container">
      <%= render "partials/header" %>
      <% flash.each do |key, value| %>
        <p class="text-warning"><%= value %></p>
      <% end %>
      <%= yield %>
    </div>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
